# Prerequisites
*.d
*.ll
*.lo
*.o
*.obj
*.gch
*.pch
*.mod
*.cmd
*.so
*.dylib
*.a
*.lib
*.lai
*.slo

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Visual Studio
.vscode/
*.code-workspace
.vs/
*.user
*.suo
*.sln
*.cache
*.ncb
*.opensdf
*.sdf
*.ilk
*.aps
*.pch
*.pdb
*.ipch
*.obj
*.tlog
*.lastbuildstate
*.log
*.vspscc
*.vspx
*.tasks
*.sln.docstates
*.tlb
*.tli
*.rsp
*.res
*.filters
*.gpstate
*.opendb
*.VC.db
*.VC.opendb
*_i.c
*_p.c
*_h.h
*.idb
*.ipdb
*.iobj

# Vim temporary files
*.swp
*.swo
*.swn
*.swm
*.un~
*.tmp
*~

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
.idea/
*.hmap
*.xcuserstate

# Xcode Patch
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata
!*.xcworkspace/contents.xcworkspacedata

# JetBrains IDEs (IntelliJ IDEA, PyCharm, etc.)
.idea/
*.iml
*.iws
*.ipr

# Code Blocks
*.depend
*.layout
*.cbp

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
CTestTestfile.cmake
cmake_install.cmake
Makefile

# Eclipse
.project
.cproject
.settings/
.loadpath
.externalToolBuilders/

# CodeLite
*.project
*.workspace

# Sublime Text
*.sublime-workspace
*.sublime-project

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# VS Code
.vscode/

